body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    display: flex;
    justify-content: space-between;
}

#meu-perfil {
    width: 15%;
    text-align: center;
    padding: 12px;
}

#main {
    width: 70%;
}

#pessoas-online {
    width: 15%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#input {
    width: 90%;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#form > button {
    width: 9%;
}

.msgs {
    word-break: break-all;
    padding: 0.5rem 1rem; 
}

.msgs:nth-child(odd){
    background: #efefef;
}

.troll {
    font-size: 7px;
}

.sendButton {
    color: white;
    background: black;
    padding: 5px 15px;
    border-radius: 12px;
    margin-top: 4px;
}

.title-main {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}